* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
main {
  margin: 40px 20px;
  overflow: hidden;
  border-radius: 10px;
  color: hsla(0, 0%, 100%, 0.75);
}
div {
  padding: 60px;
}
div p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400px;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 20px 0px;
}
.car-heading {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700px;
  color: hsl(0, 0%, 95%);
}
.sedans {
  background-color: hsl(31, 77%, 52%);
}
.suvs {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
}
.sedans .btn {
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
}
.suvs .btn {
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
}
.luxury .btn {
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
}
.btn {
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 15px;
}
img {
  margin: 20px 0px;
}
